# Playwright
node_modules/
whisper/
temp/
/test-results/
/playwright-report/
/blob-report/
memoryBackup/
/playwright/.cache/
/playwright/.auth/
barang.xlsx
.github/
tests/
test.js
prompt.md
.env
memory.json
output.wav
voice/models/kokoro-v1.0.int8.onnx
voice/voices/voices-v1.0.bin

